@import "variables";
@import "mixins";
@import "fonts";



html {
    scroll-behavior: smooth;
}
.centro{
    text-align: center;
}
.cem{
    width:100%;
}
.invalido{
    color:red;
    display:none;
}



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    header{
        width:100%;
        height:100vh;
        background: $cinzaEscuro;
        background-image:url('../img/img POLARIS.png');
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        position:relative;
        .container{ 
            position:relative;
            z-index:20;
            .topHeader{
                height:15vh;
                padding-top:30px;
                .esquerda{
                    width:20%;
                    float:left;
                    text-align: left;
                }
                .direita{
                    width:80%;
                    float:left;
                    text-align: right;
                    ul{
                        text-decoration: none;
                        list-style: none;
                        // font-size:16pt;
                       li{
                        display:inline;
                        margin-left:50px;
                            a{
                                color:white;
                                text-decoration:none;
                                font-family:firaSansSemiBold;
                            }
                            
                       }
                       :last-child{
                           width: 200px;
                           height:50px;
                                :hover{
                                    color:black;
                                }
                               a{
                                   padding-top:12px;
                               }
                       } 

                    }
                }
            }
            
        .centro{
            height:70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a{
                width:165px;
                margin-top:60px;
                font-family:firaSansSemiBold;
                height:55px;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // font-size:16pt;
            }
        }
            .seta{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color:white;
                height:15vh;
                padding-top: 25px;
                font-size:10pt;
                font-family: firaSansSemiBold;
                transition-duration: 3s 1s;
                a{
                    :hover{
                        transition: all 0.3s linear;
                        transform: scale(1.4);
                    }
                }
            }
            
        }
        .slider{
            width:100%;
            height:100vh;
            position:absolute;
            top:0;
            left:0; 
            ul{
                list-style:none;
                li{
                    .slide1{
                        position:relative;
                        width:100%;
                        height:100vh;
                        background-image:url('../img/img POLARIS.png');
                        background-repeat:no-repeat;
                        background-size:cover;
                        background-position: center;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        a{
                            width:165px;
                            margin-top:60px;
                            font-family:firaSansSemiBold;
                            height:55px;
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            z-index:21;
                        }
                        // .filter{
                        //     position:absolute;
                        //     top:0;
                        //     left:0;
                        //     width:100%;
                        //     height:100vh;
                        //     opacity:0.2;
                        //     background-color:
                        // }
                    }
                }
            }
        }
       
            .anterior{
                position:absolute;
                top:47%;
                left:80px;
                transition: all 0.3s linear;
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
            .proximo{
                position:absolute;
                top:47%;
                right:80px;
                transition: all 0.3s linear;
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
        
    }

        
    #construtora{
        width:100%;
        height:650px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        text-align: center;
        h2{
            text-align: center;
            font-family:FiraSansLight;
            font-size:20pt;
            color:$azul2;
            margin:0;
            padding:0;
        }
        h3{
            text-align: center;
            font-family:FiraSansLightItalic;
            font-size:30pt;
            color:$azulEscuro2;
            margin:0;
            padding:0;
            margin-bottom:30px;
        }
        p{
            color:$cinzaletra;
            text-align:left;
            font-family:FiraSansLight;
            font-size:14pt; 
            padding:30px;
        }
    
    } //construtora
    
    #empreendimentos{
        width:100%;
        height:100vh;
        background:$brancofundo;
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        h3{
            font-family: FiraSansLight;
            color:$azulEscuro2;
            font-size:30pt;
        }
        h2{
            font-family: FiraSansLight;
            color:$cinzaletra;
            font-size:18pt;
        }
    }//empreendimentos

    #parallax{
        width:100%;
        height:600px;
        background-image: url('../img/img UM.png');
        background-attachment:fixed;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        position:relative;
        color:white;
        display:flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        padding-left:350px;
        .filtro1{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $azulEscuro2;
            opacity:0.3;
            top:0;
            left:0;
        }
        .filtro2{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $azulEscuro2;
            opacity:0.3;
            top:0;
            left:0;
        }
        .filtro3{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $filtropreto;
            opacity:0.15;
            top:0;
            left:0;
        }
        h1{
            font-family:FiraSansLight;
            font-family:36pt;
            position:relative;
            z-index:50px;
        }
        p{
            font-family:FiraSansRegular;
            font-family:15t;
            position:relative;
            z-index:50px;
        }
        div{
            a{
                position:relative;
                z-index:50px;
                
            }
            .last{
                margin-left:60px;
            }
        }
        
    }//parallax

    #noticias{
        width:100%;
        height:100vh;
        background-color: white;
    }
}

@include for-size(phone-only){

}
