@import "variables";
@import "mixins";
@import "fonts";



html {
    scroll-behavior: smooth;
}
.center{
    text-align: center;
}
.cem{
    width:100%; 
}
.invalido{
    color:red;
    display:none;
}



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    position:relative;
    .modalll{
        transition:all 500ms;
        width:100%;
        height:100vh;
        position:fixed;
        top:0;
        right:0;
        background-color:rgba(0,0,0,0.3);
        z-index:5000;
        display:none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
        .formContato{
            width:620px;
            height:0;
            background-color:white;
            border-radius:50px;
            position:relative;
            z-index:5001;
            transition: all 200ms;
            box-shadow: 3px 3px 3px black;
            .close{
                top:25px;
                right:25px;
                position: absolute;
                border:1px solid black;
                padding:5px 10px;
                 border-radius: 3px;
                 cursor:pointer;
            }
        }
    }
    .aviso{
        width:300px;
        position:fixed;
        bottom:50px;
        right:50px;
        display:none;
        z-index:20000000000000;
    }
    .topHeader{
        position:fixed;
        top:0;
        left:0;
        padding-top:30px;
        padding-bottom:30px;
        z-index:2000;
        width:100%;
        transition:all 0.4s;
        .container{
            .esquerda{
                width:20%;
                float:left;
                text-align: left;
            }
            .direita{
                width:80%;
                float:left;
                text-align: right;
                padding-top:10px;
                ul{
                    text-decoration: none;
                    list-style: none;
                    font-size:16px;
                   li{
                    display:inline;
                    margin-left:20px;
                    color:white;
                        a{
                            text-decoration:none;
                            font-family:firaSansSemiBold;
                            transition:all 500ms;
                        }
                        .itens{
                            color:white;
                            &:hover{
                                color:$cinza;
                            }
                        }
    
                   }
                   :last-child{
                        padding:10px 40px;
                        font-size:16px;
                        display:inline; 
                        white-space: nowrap;
                        &:hover{
                            color:$cinza;
                        }  
                   }
    
                }
            }
        }
    }

    .scrolll{
        background-color: hsla(0,0%,100%,.95);
        box-shadow: 0 6px 7.84px 0.16px rgba(33,33,33,.1);
    }



    header{
        width:100%;
        height:100vh;
        background: $cinzaEscuro;
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        position:relative;
        .container{ 
            position:relative;
            z-index:20;
            

        .centro{
            height:100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            
        }

        .seta{
            width:100%;
            position:absolute;
            bottom:0;
            left:0;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color:white;
            height:15vh;
            padding-bottom: 25px;
            font-size:12px;
            font-family: firaSansSemiBold;
            transition-duration: 3s 1s;
            z-index:2000;
            a{
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
        }

        .anterior{
            position:absolute;
            top:47%;
            left:80px;
            z-index: 201;
            transition: all 0.3s linear;
            :hover{
                transition: all 0.3s linear;
                transform: scale(1.4);
            }
        }
        .proximo{
            position:absolute;
            top:47%;
            right:80px;
            transition: all 0.3s linear;
            z-index: 201;
            :hover{
                transition: all 0.3s linear;
                transform: scale(1.4);
            }
        }
        .slidestop{
            width:100%;
            height: 100vh;
            position:absolute;
            top:0;
            left:0;
            z-index:200;
            .a{
                background-image: url('../img/img POLARIS.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                width:100%;
                height: 100vh;
                background-attachment: fixed;
                position:relative;
                z-index: 25;
                
                div{
                    position:relative;
                    z-index: 25;
                    a{
                        transition:all 500ms;
                        padding:10px 20px;
                        font-family: FiraSansSemiBold;
                        margin-top: 60px;
                        position:relative;
                        z-index: 25;
                        font-size:16px;
                        padding: 18px 48px;
                    }
                }
            }
            .b{
                background-color: red;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width:100%;
                height: 100vh;
            }
            .c{
                background-color: blue;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width:100%;
                height: 100vh;
            }
        }
    }

    #construtora{
        width:100%;
        background-color: #ffffff;
        text-align: center;
        padding-top: 130px;
        h2{

            text-align: center;
            font-family:FiraSansLight;
            font-size:30px;
            color:$azul2;
            margin:0;
            padding:0;
            
        }
        h3{
            text-align: center;
            font-family:FiraSansLightItalic;
            font-size:30pt;
            color:$azulEscuro2;
            margin:0;
            padding:0;
            margin-bottom:30px;
        }
        p{
            color:$cinzaletra;
            text-align:left;
            font-family:FiraSansLight;
            font-size:20px;
            padding-left:30px;
            padding-right:30px;
            padding-top: 0;
            margin-bottom: 130px;

        }

    } //construtora

    #empreendimentos{
        width:100%;
        background:$brancofundo;
        text-align:center;
        position:relative;
        .empreendimentos{
            margin:0 auto;
        }
        h3{
            font-family: FiraSansLight;
            color:$azulEscuro2;
            font-size:48px;
            padding-top:120px;
        }
        h2{
            font-family: FiraSansLight;
            color:$cinzaletra;
            font-size:18pt;
            margin-bottom:30px;
        }
        
            a{
                text-align:center;
                margin:60px auto;
                width:200px;
                height:50px;
                padding-top:13px;
                font-family: FiraSansSemiBold;
                font-size:16px;
                color:$cinza;
                border-color: $cinza;
                transition:all 500ms;
                :hover{
                        text-decoration: none;
                }
            
            transition:all 500ms;
            .esqemp{
                position: absolute;
                top:47%;
                left:50px;
                transform: rotate(180deg);
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
            .diremp{
                position: absolute;
                top:47%;
                right:50px;
                transition-duration: 3s 1s;
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
        }
        .fotoresidencial{
            width:90%;
            height:240px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin:0 auto;
            border-top-left-radius: 20px;
            .statusresidencial{
                padding:5px 15px;
                background-color: white;
                border-top-left-radius: 20px;
                border-top-right-radius: 5px;
                font-size:16px;
                bottom: 0;
                left:38px;
                position: absolute;
                font-family: FiraSansSemiBold;
            }
        }
        .descricaoresidencial{
            width:90%;
            height:240px;
            background-color: white;
            border: 1px solid $border;
            overflow: hidden;
            position: relative;
            margin:0 auto;
            h3{
                font-family: FiraSansLight;
                font-size:24pt;
                color: $azulEscuro2;
                text-align: left;
                padding-top: 35px;
                padding-left: 10%;
            }
            p{
                font-family: FiraSansLight;
                font-size:20px;
                color: $cinzafonte2;
                text-align: left;
                padding-left: 10%;
                padding-right: 10%;
                margin:0 auto;
            }
            ul{
                list-style: none;
                position: absolute;
                bottom: -12px;
                left: 10%;
                border-top: 1px solid $textotulipa;
                overflow: hidden;
                background-color:white;
                margin-right: 10%;
                li{
                    display: inline;
                    font-family: FiraSansSemiBold;
                    font-size:14px;
                    padding-left: 2px;
                    padding-right: 5px;
                    border-right: 1px solid $textotulipa;
                    padding-bottom: 2px;
                    a{
                        color:$textotulipa;
                        font-size:10px;
                        &:hover{
                            text-decoration: none;
                            color:lightblue;
                        }
                    }
                }
                :first-child{
                    padding-left:4px;
                }
                :last-child{
                    border:none;
                    padding-right:2px;
                }
            }
        }
    }//empreendimentos

    #parallax{
        width:100%;
        height:600px;
        background-image: url('../img/img UM.png');
        background-attachment:fixed;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        position:relative;
        color:white;
        display:flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        
        .filtro1{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $azulEscuro2;
            opacity:0.3;
            top:0;
            left:0;
        }
        .filtro2{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $azulEscuro2;
            opacity:0.3;
            top:0;
            left:0;
        }
        .filtro3{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $filtropreto;
            opacity:0.15;
            top:0;
            left:0;
        }
        h1{
            font-family:FiraSansLight;
            font-size:72px;
            position:relative;
            z-index:50px;
        }
        p{
            font-family:FiraSansRegular;
            font-size:30px;
            position:relative;
            z-index:50px;
        }
        div{
            a{
                position:relative;
                z-index:50px;
            }
            .last{
                margin-left:60px;
            }
        }
    }//parallax


    #noticias{
        background-color: white;
        text-align:center;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align:center;
        width:90%;
        margin: 0 auto;
        h1{
            font-family:FiraSansLight;
            font-size: 48px;
            color:$azulEscuro2;
            margin:120px;
        }
        a{
            text-align:center;
            margin:0 auto;
            width:200px;
            height:50px;
            padding-top:13px;
            margin: 80px;
            font-family: FiraSansSemiBold;
            font-size:16px;
            color:$cinza;
            border-color: $cinza;
            transition:all 500ms;
            :hover{
                    text-decoration: none;
            }
        }


        .noticia{
            :hover{
                    text-decoration: none;
                }
                .imagemnoticia{
                        background-color:gray;
                        width:90%;
                        margin: 0 auto;
                        height:240px;
                        background-size:cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-top-left-radius: 25px;
                    }
                    .titulonoticia{
                        width:80%;
                        margin: 0 auto;
                        font-family:FiraSansLight;
                        font-size:30px;
                        color:$cinzafonte;
                        text-align: justify;
                        margin-top:15px;
                        margin-bottom:15px;
                    }
                    .conteudonoticia{
                        width:80%;
                        margin: 0 auto;
                        font-family:FiraSansLight;
                        font-size:20px;
                        color:$cinzafonte2;
                        text-align: justify;
                        line-height: 26px;

                    }

        }
    }//noticias

    .links{
        width:100%;
        // display:flex;
        // flex-direction: row;
        // align-items: flex-start;
        // justify-content: center;
        padding-top:100px;
        padding-bottom:100px;
        position: relative;
        background-color: $brancofundo;
        .idatopo{
            position: absolute;
            bottom: 55px;
            right:25px; 
        }
        .container{
            .row{
                .row1{
                    text-align: center;
                    margin-top:12px;
                }
                .row2{
                    text-align: left;
                    hr{
                        color:$laranja;
                        background-color:$laranja;
                        width:15%;
                        height:1px;
                        // margin-left:30px;
                    }
                    ul{
                        list-style:none;
                        color:$cinzafonte3;
                        font-family:FiraSansLight;
                        font-size:10pt;
                        text-align: left;
                        li{
                            margin-top:7px;
                            a{
                                color:$cinzafonte3;
                                :hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                .row3{
                    text-align: center;
                    margin-top:12px;
                }
                .row4{
                    text-align: left;
                    hr{
                        color:$azulEscuro;
                        background-color:$azulEscuro;
                        width:15%;
                        height:1px;
                        // margin-left:30px;
                    }
                    ul{
                        list-style:none;
                        color:$cinzafonte3;
                        font-family:FiraSansLight;
                        font-size:10pt;
                        text-align: left;
                        li{
                            margin-top:7px;
                            a{
                                color:$cinzafonte3;
                                :hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }//links

    footer{
        width:100%;
        background:$azulEscuro2;
        color:white;
        .container{
            padding-top:70px;
            .end{
                width:100%;
                .icone{
                    display:flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom:80px;
                }
                .endereco{
                    padding-bottom:100px;
                    padding-top:40px;
                    ul{
                        list-style:none;
                        text-align:left;
                        padding-top: 0;
                        margin-top: 0;
                        :nth-child(1){
                            list-style-image: url('../img/local.png');
                        }
                        :nth-child(2){
                            list-style-image: url('../img/tel.png');
                        }
                        :nth-child(3){
                            list-style-image: url('../img/carta.png');
                        }
                         li{
                             font-family:FiraSansLight;
                             font-size:20px;
                             margin-bottom:14px;
                         }
                    }
                }
            }
            .redes{
                text-align: right;
                padding-top: 40px;
                ul{
                    list-style: none;
                    img{
                        width:20px;
                        margin-bottom: 20px;
                        margin-top:5px;
                        text-align: right;
                    }
                }
            }
            .copyright{
                border-top: 1px solid $azul;
                width:100%;
                padding-top:35px;
                padding-bottom:35px;
                font-family:FiraSansRegular;
                color:$za;
                span{
                    font-family:FiraSansSemiBold;
                }
                a{
                    float: right;
                    padding:0;
                    margin:0;
                }
            }

        }
    }
    // footer





    // formulario
    #formulario{
        padding-top: 100px;
        padding-bottom: 80px;
        .row{
            form{
                
                width:80%;
                margin: 0 auto;
                
                h1{
                    font-size:30px;
                }
                h3{
                    color:#6f7983;
                    font-size:20px;
                    font-family:'FiraSansLight';
                }
                .compra{
                    width:100%;
                    font-family:'FiraSansItalic';
                    padding:10px;
                    border-radius:4px;
                    color:#bdbdbd;
                    margin-top:20px;
                    padding-bottom:50px;
                }
                 
                  .form-group {
                    position: relative;
                    margin-top: 2.25rem;
                    margin-bottom: 2.25rem;
                    .Mensagem{
                        height: 5.9rem;
                        font-family:'FiraSansItalic';
                      }
                  }
                  
                  

                  
                  .form-group input{
                    height: 1.9rem;
                    font-family:'FiraSansItalic';
                  }
                  
                  
                  .form-group textarea{
                    height: 3.9rem;
                    font-family:'FiraSansItalic';

                  }

                  .form-group .control-label {
                    position: absolute;
                    top: 0.25rem;
                    pointer-events: none;
                    padding-left: 0.125rem;
                    z-index: 1;
                    color: #b3b3b3;
                    font-size: 1rem;
                    font-weight: normal;
                    -webkit-transition: all 0.28s ease;
                    transition: all 0.28s ease;
                    font-family:'FiraSansItalic';
                  }
                  .form-group .bar {
                    position: relative;
                    border-bottom: 0.0625rem solid #999;
                    display: block;
                  }
                  .form-group .bar::before {
                    content: '';
                    height: 0.125rem;
                    width: 0;
                    left: 50%;
                    bottom: -0.0625rem;
                    position: absolute;
                    background: #337ab7;
                    -webkit-transition: left 0.28s ease, width 0.28s ease;
                    transition: left 0.28s ease, width 0.28s ease;
                    z-index: 2;
                  }
                  .form-group input,
                  .form-group textarea {
                    display: block;
                    background: none;
                    padding: 0.125rem 0.125rem 0.0625rem;
                    font-size: 1rem;
                    border-width: 0;
                    border-color: transparent;
                    line-height: 1.9;
                    width: 100%;
                    color: transparent;
                    -webkit-transition: all 0.28s ease;
                    transition: all 0.28s ease;
                    box-shadow: none;
                  }
                  
                  .form-group select,
                  .form-group input:focus,
                  .form-group input:valid,
                  .form-group input.form-file,
                  .form-group input.has-value,
                  .form-group textarea:focus,
                  .form-group textarea:valid,
                  .form-group textarea.form-file,
                  .form-group textarea.has-value {
                    color: #333;
                  }
                  .form-group select ~ .control-label,
                  .form-group input:focus ~ .control-label,
                  .form-group input:valid ~ .control-label,
                  .form-group input.form-file ~ .control-label,
                  .form-group input.has-value ~ .control-label,
                  .form-group textarea:focus ~ .control-label,
                  .form-group textarea:valid ~ .control-label,
                  .form-group textarea.form-file ~ .control-label,
                  .form-group textarea.has-value ~ .control-label {
                    font-size: 0.8rem;
                    color: gray;
                    top: -1rem;
                    left: 0;
                  }
                  .form-group select:focus,
                  .form-group input:focus,
                  .form-group textarea:focus {
                    outline: none;
                  }
                  .form-group select:focus ~ .control-label,
                  .form-group input:focus ~ .control-label,
                  .form-group textarea:focus ~ .control-label {
                    color: #337ab7;
                  }
                  .form-group select:focus ~ .bar::before,
                  .form-group input:focus ~ .bar::before,
                  .form-group textarea:focus ~ .bar::before {
                    width: 100%;
                    left: 0;
                  }
                  
                  .checkbox label,
                  .form-radio label {
                    position: relative;
                    cursor: pointer;
                    padding-left: 2rem;
                    text-align: left;
                    color: #333;
                    display: block;
                  }
                  .checkbox input,
                  .form-radio input {
                    width: auto;
                    opacity: 0.00000001;
                    position: absolute;
                    left: 0;
                  }
                  
                 
                  
                  
                  .button {
                    position: relative;
                    background: currentColor;
                    border: 1px solid currentColor;
                    font-size: 1.1rem;
                    color: #4f93ce;
                    margin: 3rem 0;
                    padding: 0.75rem 3rem;
                    cursor: pointer;
                    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
                    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
                    overflow: hidden;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                  }
                  .button span {
                    color: #fff;
                    position: relative;
                    z-index: 1;
                  }
                  .button::before {
                    content: '';
                    position: absolute;
                    background: #071017;
                    border: 50vh solid #1d4567;
                    width: 30vh;
                    height: 30vh;
                    border-radius: 50%;
                    display: block;
                    top: 50%;
                    left: 50%;
                    z-index: 0;
                    opacity: 1;
                    -webkit-transform: translate(-50%, -50%) scale(0);
                    transform: translate(-50%, -50%) scale(0);
                  }
                  .button:hover {
                    color: #337ab7;
                    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
                  }
                  .button:active::before, .button:focus::before {
                    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
                    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
                    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
                    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
                    -webkit-transform: translate(-50%, -50%) scale(1);
                            transform: translate(-50%, -50%) scale(1);
                    opacity: 0;
                  }
                  .button:focus {
                    outline: none;
                  }
        
                }
            }
                hr{
                   color:$azlgt;
                   background-color:$azlgt;
                   height: 2px;
                   width:35px;
                   margin:0 auto;
                   margin-bottom: 55px;
                }
                h1{
                    color:$azlgt;
                    font-family: FiraSansLight,sans-serif;
                    font-size: 15pt;
                    text-align: center;
                    padding-bottom: 4px
                }
                .cem{
                    margin-top: 30px;
                    text-align: center;
                    input[type='submit']{
                        width:200px;
                        text-align: center;
                        font-family: FiraSansSemiBold,sans-serif;
                        font-size: 12pt;
                        color:#c1c1c1;
                        border-color:#c1c1c1;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        transition:all 300ms;
                }
            }
        }
        // formulario
}


















@import 'h2b';

@import "laptop";
@import "hd";
@import "tablet";
@import "celular";