@import "variables";
@import "mixins";
@import "fonts";



html {
    scroll-behavior: smooth;
}
.center{
    text-align: center;
}
.cem{
    width:100%;
}
.invalido{
    color:red;
    display:none;
}



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    header{
        width:100%;
        height:100vh;
        background: $cinzaEscuro;
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        position:relative;
        .container{ 
            position:relative;
            z-index:20;
            .topHeader{
                height:10vh;
                padding-top:30px;
                .esquerda{
                    width:20%;
                    float:left;
                    text-align: left;
                }
                .direita{
                    width:80%;
                    float:left;
                    text-align: right;
                    ul{
                        text-decoration: none;
                        list-style: none;
                        // font-size:16pt;
                       li{
                        display:inline;
                        margin-left:50px;
                            a{
                                color:white;
                                text-decoration:none;
                                font-family:firaSansSemiBold;
                            }

                       }
                       :last-child{
                           width: 200px;
                           height:50px;
                                :hover{
                                    color:black;
                                }
                               a{
                                   padding-top:12px;
                               }
                       }

                    }
                }
            }

        .centro{
            height:75vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .seta{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color:white;
                height:15vh;
                padding-top: 25px;
                font-size:10pt;
                font-family: firaSansSemiBold;
                transition-duration: 3s 1s;
                a{
                    :hover{
                        transition: all 0.3s linear;
                        transform: scale(1.4);
                    }
                }
            }
        }

        .anterior{
            position:absolute;
            top:47%;
            left:80px;
            z-index: 200;
            transition: all 0.3s linear;
            :hover{
                transition: all 0.3s linear;
                transform: scale(1.4);
            }
        }
        .proximo{
            position:absolute;
            top:47%;
            right:80px;
            transition: all 0.3s linear;
            z-index: 200;
            :hover{
                transition: all 0.3s linear;
                transform: scale(1.4);
            }
        }
        .slidestop{
            width:100%;
                height: 100vh;
                position:absolute;
                top:0;
                left:0;
                z-index: 1;
            .a{
                background-image: url('../img/img POLARIS.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                width:100%;
                height: 100vh;
            }
            .b{
                background-color: red;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width:100%;
                height: 100vh;
            }
            .c{
                background-color: blue;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width:100%;
                height: 100vh;
            }
        }
    }

    #construtora{
        width:100%;
        height:650px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        text-align: center;
        h2{
            text-align: center;
            font-family:FiraSansLight;
            font-size:20pt;
            color:$azul2;
            margin:0;
            padding:0;
        }
        h3{
            text-align: center;
            font-family:FiraSansLightItalic;
            font-size:30pt;
            color:$azulEscuro2;
            margin:0;
            padding:0;
            margin-bottom:30px;
        }
        p{
            color:$cinzaletra;
            text-align:left;
            font-family:FiraSansLight;
            font-size:14pt;
            padding:30px;
        }

    } //construtora

    #empreendimentos{
        width:100%;
        background:$brancofundo;
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        position:relative;
        h3{
            font-family: FiraSansLight;
            color:$azulEscuro2;
            font-size:30pt;
        }
        h2{
            font-family: FiraSansLight;
            color:$cinzaletra;
            font-size:18pt;
        }
        a{
            text-align: center;
            width: 200px;
            height: 40px;
            font-family: FiraSansSemiBold;
            .esqemp{
                position: absolute;
                top:47%;
                left:50px;
                transform: rotate(180deg);
                transition-duration: 3s 1s;
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
            .diremp{
                position: absolute;
                top:47%;
                right:50px;
                transition-duration: 3s 1s;
                :hover{
                    transition: all 0.3s linear;
                    transform: scale(1.4);
                }
            }
        }
        .fotoresidencial{
            width:90%;
            height:240px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            .statusresidencial{
                padding:5px 15px;
                background-color: white;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                bottom: 0;
                left:40px;
                position: absolute;
                font-family: FiraSansSemiBold;
            }
        }
        .descricaoresidencial{
            width:90%;
            height:240px;
            background-color: white;
            border: 1px solid $border;
            // box-shadow: 12px 12px 12px 12px $border;
            h3{
                font-family: FiraSansLight;
                font-size:24pt;
                color: $azulEscuro2;
                text-align: left;
                padding-top: 35px;
                padding-left: 25px;
            }
            p{
                font-family: FiraSansLight;
                font-size:12pt;
                color: $cinzafonte2;
                text-align: left;
                padding-left: 25px;
                padding-bottom: 50px;
            }
            hr{
                width: 80%;
                margin: 0 auto;
                padding:0;
            }
            ul{
                list-style: none;
                margin-top: 0;
                padding-top: 0;
                li{
                    display: inline;
                    font-family: FiraSansSemiBold;
                    font-size:8pt;
                    margin-left: 2px;
                    margin-right: 2px;
                    border-right: 1px solid $textotulipa;
                    padding-right: 8px;
                    a{
                        color:$textotulipa;
                        :hover{
                            text-decoration: none;
                        }
                    }
                }
                :last-child{
                    border:none;
                }
            }
        }
    }//empreendimentos









    #parallax{
        width:100%;
        height:600px;
        background-image: url('../img/img UM.png');
        background-attachment:fixed;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        position:relative;
        color:white;
        display:flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        padding-left:350px;
        .filtro1{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $azulEscuro2;
            opacity:0.3;
            top:0;
            left:0;
        }
        .filtro2{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $azulEscuro2;
            opacity:0.3;
            top:0;
            left:0;
        }
        .filtro3{
            position:absolute;
            width:100%;
            height:100%;
            background-color: $filtropreto;
            opacity:0.15;
            top:0;
            left:0;
        }
        h1{
            font-family:FiraSansLight;
            font-family:36pt;
            position:relative;
            z-index:50px;
        }
        p{
            font-family:FiraSansRegular;
            font-family:15t;
            position:relative;
            z-index:50px;
        }
        div{
            a{
                position:relative;
                z-index:50px;
            }
            .last{
                margin-left:60px;
            }
        }
    }//parallax


























    #noticias{
        background-color: white;
        text-align:center;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align:center;
        width:90%;
        margin: 0 auto;
        h1{
            font-family:FiraSansLight;
            font-size: 24pt;
            color:$azulEscuro2;
            margin: 80px;
        }
        a{
            text-align:center;
            margin:0 auto;
            width:200px;
            height:50px;
            padding-top:13px;
            margin: 80px;
             font-family: FiraSansSemiBold;
            :hover{
                    text-decoration: none;
            }
        }


        .noticia{
            :hover{
                    text-decoration: none;
                }
                .imagemnoticia{
                        background-image: url('img/1351515183.jpg');
                        width:450px;
                        margin: 0 auto;
                        height:240px;
                        background-size:cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-top-left-radius: 25px;
                    }
                    .titulonoticia{
                        width:370px;
                        margin: 0 auto;
                        font-family:FiraSansLight;
                        font-size:15pt;
                        color:$cinzafonte;
                        text-align: justify;
                        margin-top:15px;
                        margin-bottom:15px;
                    }
                    .conteudonoticia{
                        width:370px;
                        margin: 0 auto;
                        font-family:FiraSansLight;
                        font-size:10pt;
                        color:$cinzafonte2;
                        text-align: justify;
                        line-height: 26px;

                    }

            

        }
    }//noticias

    .links{
        height:460px;
        width:100%;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-top:100px;
        position: relative;
        background-color: $brancofundo;
        .idatopo{
            position: absolute;
            bottom: 55px;
            right:25px; 
        };
        .container{
            .row{
                .row1{
                    text-align: center;
                    margin-top:12px;
                }
                .row2{
                    text-align: left;
                    hr{
                        color:$laranja;
                        background-color:$laranja;
                        width:15%;
                        height:1px;
                        margin-left:30px;
                    }
                    ul{
                        list-style:none;
                        color:$cinzafonte3;
                        font-family:FiraSansLight;
                        font-size:10pt;
                        text-align: left;
                        li{
                            margin-top:7px;
                        }
                    }
                }
                .row3{
                    text-align: center;
                    margin-top:12px;
                }
                .row4{
                    text-align: left;
                    hr{
                        color:$azulEscuro;
                        background-color:$azulEscuro;
                        width:15%;
                        height:1px;
                        margin-left:30px;
                    }
                    ul{
                        list-style:none;
                        color:$cinzafonte3;
                        font-family:FiraSansLight;
                        font-size:10pt;
                        text-align: left;
                        li{
                            margin-top:7px;
                        }
                    }
                }
            }
        }
    }//links

    footer{
        width:100%;
        background:$azulEscuro2;
        color:white;
        .container{
            padding-top:70px;
            .end{
                width:100%;
                .icone{
                    display:flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom:80px;
                }
                .endereco{
                    padding-bottom:100px;
                    ul{
                        list-style:none;
                        text-align:left;
                        :nth-child(1){
                            list-style-image: url('../img/local.png');
                        }
                        :nth-child(2){
                            list-style-image: url('../img/tel.png');
                        }
                        :nth-child(3){
                            list-style-image: url('../img/carta.png');
                        }
                         li{
                             margin-bottom:14px;
                             font-family:FiraSansLight;
                             font-size:10pt;
                         }
                    }
                }
            }
            .redes{
                img{
                    width:20px;
                    margin-bottom: 20px;
                    margin-top:5px;
                }
            }
            .copyright{
                border-top: 1px solid $azul;
                width:100%;
                padding-top:35px;
                padding-bottom:35px;
                font-family:FiraSansRegular;
                color:$za;
                span{
                    font-family:FiraSansSemiBold;
                }
            }
        }
    }
    // footer
}

@include for-size(phone-only){

}
