@media  screen and (max-width:480px){
    body{
        .modalll{
            .formContato{
                width:300px;
                height:600px;
            }
        }

        .aviso{

            bottom:10px;
            right:10px;

        }

        .topHeader{
            width:100%;
            padding-top: 20px;
            padding-bottom: 10px;
            .container{
                .esquerda{
                    width:40%;
                    img{
                        width:130px;
                        margin:0;
                    }
                }
                .direita{
                    width:60%;
                    padding-top:0;
                    ul{
                       li{
                        margin-left:0;
                        display:none;
        
                       }
                       :last-child{
                            margin:0;
                            display:inline;  
                            padding:0;
                            padding-top:10px;
                            padding-bottom:10px;
                            padding-left:10px;
                            padding-right:10px;
                       }
        
                    }
                }
            }
        }


        header{

    

    
            .anterior{

                left:20px;
                display:none;
            }
            .proximo{

                right:20px;
                display:none;

            }
            .slidestop{

                .a{
                    background-size:250% 100%;
                    div{

                        a{
                            font-family: FiraSansSemiBold;
                            margin-top: 60px;
                            position:relative;
                            z-index: 25;
                            font-size:16px;
                            padding: 10px 50px;
                        }
                        
                    }
                    img{
                        width:250px;
                    }
                }
    
            }
        }


        #construtora{
            h2{
                font-size:25px;                
            }
            h3{
                font-size:22pt;
            }
            p{
                font-size:16px;
    
            }
    
        } //construtora

        #empreendimentos{
            
            h3{

                font-size:35px;

            }
            h2{

                font-size:18px;
            }
            
                a{
                    margin:30px auto;
                

                .esqemp{
                    top:42%;
                    left:50px;
                    background-color:rgba(0,0,0,0.6);
                    border-radius: 100%;
                    padding:10px;
                    display:none;
                }
                .diremp{
                    top:42%;
                    right:50px;
                    background-color:rgba(0,0,0,0.6);
                    border-radius: 100%;
                    padding:10px;
                    display:none;
                }
            }
            .fotoresidencial{ 
                width:90%;
                height:240px;

            }
            .descricaoresidencial{
                width:90%;
                height:220px;
            }
        }//empreendimentos

        #parallax{
            width:100%;
            height:400px;

            
            
            h1{

                font-size:25px;

            }
            p{

                font-size:20px;

            }
            div{
                a{
                    position:relative;
                    z-index:50px;
                }
                .last{
                    margin-left:60px;
                }
            }
        }//parallax

        #noticias{
            width:90%;
            margin: 0 auto;
            h1{
                font-size: 30px;
                margin:30px;
            }
            a{
                margin: 20px;

            }
    
    
    
            .noticia{
                :hover{
                        text-decoration: none;
                    }
                    .imagemnoticia{

                            height:200px;

                        }
                        .titulonoticia{
                        
                            font-size:20px;
                            
                          
                        }
                        .conteudonoticia{

                            font-size:16px;

    
                        }
    
            }
        }//noticias

        .links{
            padding-top:20px;
            padding-bottom:20px;

            .idatopo{

                bottom: 25px;
                right:25px; 
            }

        }//links

        footer{
            .container{
                .end{
                        ul{
                             margin-left:30px;
                        }
                    }
                }
                .redes{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding:0;
                    margin:0;
                    height:50px;
                    padding-top: 0;
                    padding-bottom: 0;
                    width:100%;


                    ul{
                        margin:0;
                        padding:0;
                        li{
                            float:left;
                            margin-left:20px;
                            margin-right:45px;
                            img{
                                margin-bottom: 20px;
                                margin-top:5px;
                            }
                        }
                        
                    }
                }
                
    
            }
        }
        // footer
    }
