//fonts
@font-face{
    font-family: FiraSansSemiBold;
    src:url('fonts/fira-sans/FiraSans-SemiBold.otf');
}
@font-face{
    font-family: FiraSansLight;
    src:url('fonts/fira-sans/FiraSans-Light.otf');
}
@font-face{
    font-family: FiraSansRegular;
    src:url('fonts/fira-sans/FiraSans-Regular.otf');
}
@font-face{
    font-family: FiraSansItalic;
    src:url('fonts/fira-sans/FiraSans-Italic.otf');
}