@media  screen and (max-width:768px){
    body{
        .topHeader,.topHeader2{

            .container{
                .esquerda{
                    width:50%;
                }
                .direita{
                    .hamburguer{
                        display:block;
                    }
                    width:50%;
                    padding-top:10px;
                    ul{
                        display:none;
                       li{
                        margin-left:0;
                        display:none;
        
                       }
                       :last-child{

                            display:inline;  
                             width:200px; 
                             white-space: nowrap;
                       }
        
                    }
                }
            }
        }
        .topHeader2{
            .container{
                .direita{
                    .hamburguer{
                        
                    }
                }
            }
        }


        header{

    

    
            .anterior{

                left:50px;

            }
            .proximo{

                right:50px;

            }
            .slidestop{

                .a{
                    
                    div{

                        a{
                            font-family: FiraSansSemiBold;
                            margin-top: 60px;
                            position:relative;
                            z-index: 25;
                            font-size:16px;
                            padding: 10px 50px;
                        }
                    }
                }
    
            }
        }

        #construtora{

            h2{
    
                text-align: center;
                font-family:FiraSansLight;
                font-size:30px;
                color:$azul2;
                margin:0;
                padding:0;
                
            }
            h3{
                text-align: center;
                font-family:FiraSansLightItalic;
                font-size:30pt;
                color:$azulEscuro2;
                margin:0;
                padding:0;
                margin-bottom:30px;
            }
            .elemento{
                .conteudodireita{
                    margin:0;
                    padding:0;
                    p{
                        margin:0;
                        padding:0;
                        padding-left:40px;
                        padding-right:40px;
                    }
                }
                .conteudoesquerda{
                    margin:0;
                    padding:0;
                    p{
                        margin:0;
                        padding:0;
                        padding-left:40px;
                        padding-right:40px;
                        padding-bottom: 50px;
                    }
                }
            }
            
    
        } //construtora

        #empreendimentos{

            .empreendimentos{
                margin:0 auto;
            }
            
                a{
   
                .esqemp{

                    left:40px;
                    
                }
                .diremp{

                    right:40px;

                }
            }
            
            .fotoresidencial{
                width:70%;
                height:200px;

            }
            .descricaoresidencial{
                width:70%;
                height:240px;
                background-color: white;
                border: 1px solid $border;
                overflow: hidden;
                position: relative;
                margin:0 auto;
                h3{
                    font-size:30px;
                }
                p{

                    font-size:16px;

                }
                ul{
                    li{
                        font-size:5px;
                    }

                    :first-child{
                        padding-left:2px;
                        font-size:5px;
                    }
                    :last-child{

                        padding-right:2px;
                        font-size:7px;
                    }
                }
            }
        }//empreendimentos

        .visual{
            .fotoresidencial{
                width:90% !important;
            }  
            .descricaoresidencial{
                width:90% !important;
                ul{
                    li{
                        a{
                            font-size:10px !important;
                        }
                    }

                    :first-child{
                        padding-left:0;

                    }
                    :last-child{

                        padding-right:0;
 
                    }
                }
            }
        }

        .cabecaempreendimentos{
            height:400px;
        }
        .cabecanoticias{
            height:400px;
        }
        
        #parallax{
            h1{
                font-size:50px;
            }
            p{

                font-size:24px;

            }
            div{
                a{
                    position:relative;
                    z-index:50px;
                }
                .last{
                    margin-left:60px;
                }
            }
        }//parallax

        #noticias{

            h1{
                margin-top:120px;
                margin-bottom:60px;
            }

            .noticia{
                    .imagemnoticia{
 
                            height:250px;

                        }
                        .titulonoticia{
 
                            font-size:24px;

                        }
                        .conteudonoticia{

                            font-size:16px;

    
                        }
    
            }
        }//noticias
        .links{
            .idatopo{
                img{
                    width:50px;
                }
            }
        }

        footer{
            .container{
                padding-top:20px;
                .end{
                    .icone{
                        padding-bottom:20px;
                        img{
                            width:97px;
                            height:72px;
                        }
                    }
                    .endereco{
                        padding-bottom:20px;
                        padding-top:20px;
                        ul{
                             li{
                                 font-size:16px;

                             }
                        }
                    }
                }
                .redes{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    ul{
                        img{
                            margin-bottom: 20px;
                            margin-top:5px;
                        }
                    }
                }
                .copyright{
                    padding-top:15px;
                    padding-bottom:15px;
                    font-size:14px;
                }
    
            }
        }
        // footer


        .visualisarnoticia{
            .voltar{
                a{
                    margin-left: 50px;
                }
            }
            h1,.compartilhe{
                margin-left: 50px;
            }
            hr{
                margin-left: 50px;
            }
            h3{
                margin-left: 50px;
            }
            .dados{
                ul{
                    margin-right: 50px;
                }

            }
            .imaagemnoticia{
                width:90%;
                margin:0 auto;
            }
            .conteudo{
                padding: 50px;
            }
        }

        .plantas{
            .row{
                margin:0;
                .planta1{
                    width:700px;
                    margin:0;
                    margin-bottom:20px;
                }
                ul{
                    margin-bottom:60px; 
                }
            }
        }
        .apres{
            img{
                padding:50px;
            }
        }
        

    }
}