$branco: #f2f3f4;
$brancofundo: #fafafa;
$cinzafonte3:#abb5bb;
$gelo: #cfd8dc;
$cinza:#a5b0b7;
$cinzaletra:#9a9a9a;
$cinzaEscuro:#6f7983;
$azulEscuro:#1b2125;
$azulEscuro2:#25355f;
$azulEscuro3: #1f3249;
$azulmedio:#2b4262;
$azul:#3f6f93;
$azul2: #4c799a;
$laranja:#ce5a2a;
$verde:#4e8a7f;
$filtropreto: #3f4043; 
$cinzafonte:#585c5f;
$cinzafonte2:#959da4;
$za:#3a6589;
$border: #f8f8f8;
$textotulipa: #d5dadd;
$lançamento: #4e8a7f;
$obras:#7295b0;
$entregue: #a5b0b7;
