$branco: #f2f3f4;
$brancofundo: #fafafa;
$cinzafonte3:#abb5bb;
$gelo: #cfd8dc;
$cinza:#a5b0b7;
$cinzaletra:#9a9a9a;
$cinzaEscuro:#6f7983;
$azulEscuro:#1b2125;
$azulEscuro2:#25355f;
$azulEscuro3: #1f3249;
$azulmedio:#2b4262;
$azul:#3f6f93;
$azul2: #4c799a;
$laranja:#ce5a2a;
$verde:#4e8a7f;
$filtropreto: #3f4043; 
$cinzafonte:#585c5f;
$cinzafonte2:#959da4;
$za:#3a6589;
$border: #f8f8f8;
$textotulipa: #d5dadd;
$lançamento: #4e8a7f;
$obras:#7295b0;
$entregue: #a5b0b7;


// colors
$preto: #3C4785;
$azul-claro: #9DA5D1;
$azul:#3C4785;
$azulRGBA:60,71,133,0.2;


// colors
$cinza05:#fafafa;
$cinza20:#eeeeee;
$cinza40:#bdbdbd;
$cinza60:#757575;
$cinza90:#3f4043;
$azdrk:#25355f;
$azul:#31498b;
$azlgt:#4f89c8;
$azlgtn:#8f8ab9;
$branco:#ffffff;
$brancoFont:#f0f2f4;

$branco: #f2f3f4;
$brancofundo: #fafafa;
$cinzafonte3:#abb5bb;
$gelo: #cfd8dc;
$cinza:#a5b0b7;
$cinzaletra:#9a9a9a;
$cinzaEscuro:#6f7983;
$azulEscuro:#1b2125;
$azulEscuro2:#25355f;
$azulEscuro3: #1f3249;
$azulmedio:#2b4262;
$azul:#3f6f93;
$azul2: #4c799a;
$laranja:#ce5a2a;
$verde:#4e8a7f;
$filtropreto: #3f4043; 
$cinzafonte:#585c5f;
$cinzafonte2:#959da4;
$za:#3a6589;
$border: #f8f8f8;
$textotulipa: #d5dadd;
$lançamento: #4e8a7f;
$obras:#7295b0;
$entregue: #a5b0b7;
