@font-face {
  font-family: FiraSansSemiBold;
  src: url(/fonts/FiraSans-SemiBold.otf?67cf35fead4c694f9ff5b0aeace739bc);
}

@font-face {
  font-family: FiraSansLight;
  src: url(/fonts/FiraSans-Light.otf?a35b04a47658272244d456dd1cbfeb66);
}

@font-face {
  font-family: FiraSansRegular;
  src: url(/fonts/FiraSans-Regular.otf?e7988865e2e32f23de6205effcc3a95d);
}

@font-face {
  font-family: FiraSansItalic;
  src: url(/fonts/FiraSans-Italic.otf?9ae15b27cb0856cac6e422932211091f);
}

@font-face {
  font-family: FiraSansLightItalic;
  src: url(/fonts/FiraSans-LightItalic.otf?3e380267a8088e9c58dbcf224c9f3945);
}

html {
  scroll-behavior: smooth;
}

.center {
  text-align: center;
}

.cem {
  width: 100%;
}

.invalido {
  color: red;
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body header {
  width: 100%;
  height: 100vh;
  background: #6f7983;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

body header .container {
  position: relative;
  z-index: 20;
}

body header .container .topHeader {
  height: 10vh;
  padding-top: 30px;
}

body header .container .topHeader .esquerda {
  width: 20%;
  float: left;
  text-align: left;
}

body header .container .topHeader .direita {
  width: 80%;
  float: left;
  text-align: right;
}

body header .container .topHeader .direita ul {
  text-decoration: none;
  list-style: none;
}

body header .container .topHeader .direita ul li {
  display: inline;
  margin-left: 50px;
}

body header .container .topHeader .direita ul li a {
  color: white;
  text-decoration: none;
  font-family: firaSansSemiBold;
}

body header .container .topHeader .direita ul :last-child {
  width: 200px;
  height: 50px;
}

body header .container .topHeader .direita ul :last-child :hover {
  color: black;
}

body header .container .topHeader .direita ul :last-child a {
  padding-top: 12px;
}

body header .container .topHeader .direita .extrabtn {
  display: none;
  width: 200px;
  height: 40px;
  color: white;
  text-decoration: none;
  font-family: firaSansSemiBold;
  padding-top: 8px;
  float: right;
  width: 140px;
}

body header .container .topHeader .direita .extrabtn :hover {
  color: black;
}

body header .container .centro {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body header .container .seta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15vh;
  padding-bottom: 25px;
  font-size: 10pt;
  font-family: firaSansSemiBold;
  transition-duration: 3s 1s;
}

body header .container .seta a :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body header .anterior {
  position: absolute;
  top: 47%;
  left: 80px;
  z-index: 20;
  transition: all 0.3s linear;
}

body header .anterior :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body header .proximo {
  position: absolute;
  top: 47%;
  right: 80px;
  transition: all 0.3s linear;
  z-index: 20;
}

body header .proximo :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body header .slidestop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
}

body header .slidestop .a {
  background-image: url("/images/img POLARIS.png?3e6271fe5cc64747a47907930fa68541");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

body header .slidestop .a div {
  position: relative;
  z-index: 21;
}

body header .slidestop .a div a {
  padding: 10px 20px;
  font-family: FiraSansSemiBold;
  margin-top: 20px;
}

body header .slidestop .b {
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

body header .slidestop .c {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

body #construtora {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding-top: 130px;
}

body #construtora h2 {
  text-align: center;
  font-family: FiraSansLight;
  font-size: 20pt;
  color: #4c799a;
  margin: 0;
  padding: 0;
}

body #construtora h3 {
  text-align: center;
  font-family: FiraSansLightItalic;
  font-size: 30pt;
  color: #25355f;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

body #construtora p {
  color: #9a9a9a;
  text-align: left;
  font-family: FiraSansLight;
  font-size: 14pt;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  margin-bottom: 130px;
}

body #empreendimentos {
  width: 100%;
  background: #fafafa;
  text-align: center;
  position: relative;
}

body #empreendimentos h3 {
  font-family: FiraSansLight;
  color: #25355f;
  font-size: 30pt;
  padding-top: 100px;
}

body #empreendimentos h2 {
  font-family: FiraSansLight;
  color: #9a9a9a;
  font-size: 18pt;
  margin-bottom: 30px;
}

body #empreendimentos a {
  text-align: center;
  width: 200px;
  height: 40px;
  font-family: FiraSansSemiBold;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a5b0b7;
  border-color: #a5b0b7;
}

body #empreendimentos a .esqemp {
  position: absolute;
  top: 47%;
  left: 50px;
  transform: rotate(180deg);
  transition-duration: 3s 1s;
}

body #empreendimentos a .esqemp :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body #empreendimentos a .diremp {
  position: absolute;
  top: 47%;
  right: 50px;
  transition-duration: 3s 1s;
}

body #empreendimentos a .diremp :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body #empreendimentos .fotoresidencial {
  width: 90%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body #empreendimentos .fotoresidencial .statusresidencial {
  padding: 5px 15px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  bottom: 0;
  left: 40px;
  position: absolute;
  font-family: FiraSansSemiBold;
}

body #empreendimentos .descricaoresidencial {
  width: 90%;
  height: 240px;
  background-color: white;
  border: 1px solid #f8f8f8;
  overflow: hidden;
  position: relative;
}

body #empreendimentos .descricaoresidencial h3 {
  font-family: FiraSansLight;
  font-size: 24pt;
  color: #25355f;
  text-align: left;
  padding-top: 35px;
  padding-left: 10%;
}

body #empreendimentos .descricaoresidencial p {
  font-family: FiraSansLight;
  font-size: 12pt;
  color: #959da4;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

body #empreendimentos .descricaoresidencial ul {
  list-style: none;
  position: absolute;
  bottom: -12px;
  left: 10%;
  border-top: 1px solid #d5dadd;
  overflow: hidden;
  background-color: white;
  margin-right: 10%;
}

body #empreendimentos .descricaoresidencial ul li {
  display: inline;
  font-family: FiraSansSemiBold;
  font-size: 8pt;
  padding-left: 2px;
  padding-right: 5px;
  border-right: 1px solid #d5dadd;
  padding-bottom: 2px;
}

body #empreendimentos .descricaoresidencial ul li a {
  color: #d5dadd;
}

body #empreendimentos .descricaoresidencial ul li a :hover {
  text-decoration: none;
}

body #empreendimentos .descricaoresidencial ul :last-child {
  border: none;
}

body #parallax {
  width: 100%;
  height: 600px;
  background-image: url("/images/img UM.png?f2162f049c8b38a7d3f02a5cebe67122");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding-left: 350px;
}

body #parallax .filtro1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #25355f;
  opacity: 0.3;
  top: 0;
  left: 0;
}

body #parallax .filtro2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #25355f;
  opacity: 0.3;
  top: 0;
  left: 0;
}

body #parallax .filtro3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3f4043;
  opacity: 0.15;
  top: 0;
  left: 0;
}

body #parallax h1 {
  font-family: FiraSansLight;
  font-family: 36pt;
  position: relative;
  z-index: 50px;
}

body #parallax p {
  font-family: FiraSansRegular;
  font-family: 15t;
  position: relative;
  z-index: 50px;
}

body #parallax div a {
  position: relative;
  z-index: 50px;
}

body #parallax div .last {
  margin-left: 60px;
}

body #noticias {
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

body #noticias h1 {
  font-family: FiraSansLight;
  font-size: 24pt;
  color: #25355f;
  margin: 80px;
}

body #noticias a {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding-top: 13px;
  margin: 80px;
  font-family: FiraSansSemiBold;
  color: #a5b0b7;
  border-color: #a5b0b7;
}

body #noticias a :hover {
  text-decoration: none;
}

body #noticias .noticia :hover {
  text-decoration: none;
}

body #noticias .noticia .imagemnoticia {
  background-image: url(/images/1351515183.jpg?c191144b43d375ec3871fb264b0012fb);
  width: 90%;
  margin: 0 auto;
  height: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 25px;
}

body #noticias .noticia .titulonoticia {
  width: 80%;
  margin: 0 auto;
  font-family: FiraSansLight;
  font-size: 15pt;
  color: #585c5f;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

body #noticias .noticia .conteudonoticia {
  width: 80%;
  margin: 0 auto;
  font-family: FiraSansLight;
  font-size: 10pt;
  color: #959da4;
  text-align: justify;
  line-height: 26px;
}

body .links {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #fafafa;
}

body .links .idatopo {
  position: absolute;
  bottom: 55px;
  right: 25px;
}

body .links .container .row .row1 {
  text-align: center;
  margin-top: 12px;
}

body .links .container .row .row2 {
  text-align: left;
}

body .links .container .row .row2 hr {
  color: #ce5a2a;
  background-color: #ce5a2a;
  width: 15%;
  height: 1px;
}

body .links .container .row .row2 ul {
  list-style: none;
  color: #abb5bb;
  font-family: FiraSansLight;
  font-size: 10pt;
  text-align: left;
}

body .links .container .row .row2 ul li {
  margin-top: 7px;
}

body .links .container .row .row2 ul li a {
  color: #abb5bb;
}

body .links .container .row .row2 ul li a :hover {
  text-decoration: none;
}

body .links .container .row .row3 {
  text-align: center;
  margin-top: 12px;
}

body .links .container .row .row4 {
  text-align: left;
}

body .links .container .row .row4 hr {
  color: #1b2125;
  background-color: #1b2125;
  width: 15%;
  height: 1px;
}

body .links .container .row .row4 ul {
  list-style: none;
  color: #abb5bb;
  font-family: FiraSansLight;
  font-size: 10pt;
  text-align: left;
}

body .links .container .row .row4 ul li {
  margin-top: 7px;
}

body .links .container .row .row4 ul li a {
  color: #abb5bb;
}

body .links .container .row .row4 ul li a :hover {
  text-decoration: none;
}

body footer {
  width: 100%;
  background: #25355f;
  color: white;
}

body footer .container {
  padding-top: 70px;
}

body footer .container .end {
  width: 100%;
}

body footer .container .end .icone {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 80px;
}

body footer .container .end .endereco {
  padding-bottom: 100px;
}

body footer .container .end .endereco ul {
  list-style: none;
  text-align: left;
  padding-top: 0;
  margin-top: 0;
}

body footer .container .end .endereco ul :nth-child(1) {
  list-style-image: url(/images/local.png?82ec47752c8bc7a16ce3cc4bc0b241c4);
}

body footer .container .end .endereco ul :nth-child(2) {
  list-style-image: url(/images/tel.png?f5efdcf3dcae5ed9d3534a2c051fd2d3);
}

body footer .container .end .endereco ul :nth-child(3) {
  list-style-image: url(/images/carta.png?b2629fd276ce801a364d33c6dc7633d6);
}

body footer .container .end .endereco ul li {
  font-family: FiraSansLight;
  font-size: 20px;
  margin-bottom: 14px;
}

body footer .container .redes {
  text-align: right;
}

body footer .container .redes ul {
  list-style: none;
}

body footer .container .redes ul img {
  width: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: right;
}

body footer .container .copyright {
  border-top: 1px solid #3f6f93;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: FiraSansRegular;
  color: #3a6589;
}

body footer .container .copyright span {
  font-family: FiraSansSemiBold;
}

body footer .container .copyright a {
  float: right;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  body header {
    background-size: cover;
    background-position: center;
  }

  body header .container .topHeader .esquerda img {
    width: 220%;
    height: 220%;
  }

  body header .container .topHeader .direita ul {
    display: none;
  }

  body header .container .topHeader .direita .extrabtn {
    display: block;
  }

  body header .anterior {
    left: 2px;
    transform: scale(0.5);
  }

  body header .proximo {
    right: 2px;
    transform: scale(0.5);
  }

  body header .slidestop .a {
    background-image: url("/images/img POLARIS.png?3e6271fe5cc64747a47907930fa68541");
    background-repeat: no-repeat;
    background-size: 250% 100%;
    background-position: center;
  }

  body header .slidestop .a img {
    width: 200px;
  }

  body #construtora {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  body #construtora h2 {
    font-size: 18pt;
  }

  body #construtora h3 {
    font-size: 20pt;
  }

  body #construtora p {
    margin-bottom: 0;
    font-size: 12pt;
  }

  body #empreendimentos h3 {
    font-size: 22pt;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  body #empreendimentos h2 {
    font-size: 16pt;
  }

  body #empreendimentos a {
    margin: 15px;
  }

  body #empreendimentos a .esqemp {
    left: 2px;
    transform: rotate(180deg) scale(0.6, 0.6);
  }

  body #empreendimentos a .esqemp :hover {
    transform: rotate(180deg) scale(0.8, 0.8);
  }

  body #empreendimentos a .diremp {
    right: 2px;
    transform: scale(0.6, 0.6);
  }

  body #empreendimentos a .diremp :hover {
    transform: scale(0.8, 0.8);
  }

  body #empreendimentos .fotoresidencial {
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }

  body #empreendimentos .fotoresidencial .statusresidencial {
    left: 15px;
  }

  body #empreendimentos .descricaoresidencial {
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }

  body #empreendimentos .descricaoresidencial h3 {
    font-size: 20pt;
    padding-top: 20px;
  }

  body #empreendimentos .descricaoresidencial p {
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
  }

  body #empreendimentos .descricaoresidencial ul {
    width: 80%;
  }

  body #empreendimentos .descricaoresidencial ul li {
    display: inline;
    font-family: FiraSansSemiBold;
    font-size: 8pt;
    padding-left: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
  }

  body #empreendimentos .descricaoresidencial ul li a {
    font-size: 8px;
  }

  body #parallax {
    text-align: center;
    background-size: 250% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    height: 70vh;
  }

  body #parallax h1 {
    font-family: 30pt;
  }

  body #parallax p {
    font-family: 15pt;
  }

  body #parallax div a {
    position: relative;
    z-index: 50px;
  }

  body #parallax div .last {
    margin-left: 60px;
  }

  body #noticias h1 {
    margin: 10px;
  }

  body #noticias a {
    margin: 10px;
  }

  body #noticias .noticia .imagemnoticia {
    width: 90%;
    height: 150px;
  }

  body #noticias .noticia .titulonoticia {
    width: 80%;
    font-size: 16px;
  }

  body #noticias .noticia .conteudonoticia {
    width: 80%;
    font-size: 14px;
  }

  body #noticias .noticia .segunda {
    display: none;
  }

  body .links {
    width: 100%;
    padding-top: 0;
    padding-bottom: 100px;
    position: relative;
    background-color: #fafafa;
  }

  body .links .idatopo {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  body .links .idatopo img {
    width: 50px;
  }

  body .links .container .row .row1 {
    margin-top: 25px;
  }

  body .links .container .row .row2 {
    text-align: left;
  }

  body .links .container .row .row2 hr {
    color: #ce5a2a;
    background-color: #ce5a2a;
    width: 15%;
    height: 1px;
  }

  body .links .container .row .row2 ul {
    list-style: none;
    color: #abb5bb;
    font-family: FiraSansLight;
    font-size: 10pt;
    text-align: left;
  }

  body .links .container .row .row2 ul li {
    margin-top: 7px;
  }

  body .links .container .row .row2 ul li a {
    color: #abb5bb;
  }

  body .links .container .row .row2 ul li a :hover {
    text-decoration: none;
  }

  body .links .container .row .row3 {
    margin-top: 25px;
  }

  body .links .container .row .row4 {
    text-align: left;
  }

  body .links .container .row .row4 hr {
    color: #1b2125;
    background-color: #1b2125;
    width: 15%;
    height: 1px;
  }

  body .links .container .row .row4 ul {
    list-style: none;
    color: #abb5bb;
    font-family: FiraSansLight;
    font-size: 10pt;
    text-align: left;
  }

  body .links .container .row .row4 ul li {
    margin-top: 7px;
  }

  body .links .container .row .row4 ul li a {
    color: #abb5bb;
  }

  body .links .container .row .row4 ul li a :hover {
    text-decoration: none;
  }

  body footer .container {
    padding-top: 0;
    padding: 0;
  }

  body footer .container .end .icone {
    padding-top: 0;
    padding-bottom: 0;
  }

  body footer .container .end .icone img {
    transform: scale(0.5);
  }

  body footer .container .end .endereco {
    padding-bottom: 0;
  }

  body footer .container .end .endereco ul li {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  body footer .container .redes {
    text-align: center;
  }

  body footer .container .redes ul li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
  }

  body footer .container .redes ul li img {
    width: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  body footer .container .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 8px;
  }

  body footer .container .copyright a {
    float: right;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 991px) {
  body header {
    background-size: cover;
    background-position: center;
  }

  body header .container .topHeader .esquerda img {
    width: 220%;
    height: 220%;
  }

  body header .container .topHeader .direita ul {
    display: none;
  }

  body header .container .topHeader .direita .extrabtn {
    display: block;
    width: 250px;
    height: 60px;
    font-size: 20px;
  }

  body header .anterior {
    left: 12px;
    transform: scale(1.2);
  }

  body header .proximo {
    right: 12px;
    transform: scale(1.2);
  }

  body header .slidestop .a {
    background-size: 180% 100%;
    background-position: center;
  }

  body header .slidestop .a img {
    width: 300px;
  }

  body #construtora {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  body #construtora h2 {
    font-size: 18pt;
  }

  body #construtora h3 {
    font-size: 20pt;
  }

  body #construtora p {
    margin-bottom: 0;
    font-size: 12pt;
  }

  body #empreendimentos h3 {
    font-size: 22pt;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  body #empreendimentos h2 {
    font-size: 16pt;
  }

  body #empreendimentos a {
    margin: 15px;
  }

  body #empreendimentos a .esqemp {
    left: 2px;
    transform: rotate(180deg) scale(0.6, 0.6);
  }

  body #empreendimentos a .esqemp :hover {
    transform: rotate(180deg) scale(0.8, 0.8);
  }

  body #empreendimentos a .diremp {
    right: 2px;
    transform: scale(0.6, 0.6);
  }

  body #empreendimentos a .diremp :hover {
    transform: scale(0.8, 0.8);
  }

  body #empreendimentos .fotoresidencial {
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }

  body #empreendimentos .fotoresidencial .statusresidencial {
    left: 15px;
  }

  body #empreendimentos .descricaoresidencial {
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }

  body #empreendimentos .descricaoresidencial h3 {
    font-size: 20pt;
    padding-top: 20px;
  }

  body #empreendimentos .descricaoresidencial p {
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
  }

  body #empreendimentos .descricaoresidencial ul {
    width: 80%;
  }

  body #empreendimentos .descricaoresidencial ul li {
    display: inline;
    font-family: FiraSansSemiBold;
    font-size: 8pt;
    padding-left: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
  }

  body #empreendimentos .descricaoresidencial ul li a {
    font-size: 8px;
  }

  body #parallax {
    text-align: center;
    background-size: 250% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    height: 70vh;
  }

  body #parallax h1 {
    font-family: 30pt;
  }

  body #parallax p {
    font-family: 15pt;
  }

  body #parallax div a {
    position: relative;
    z-index: 50px;
  }

  body #parallax div .last {
    margin-left: 60px;
  }

  body #noticias h1 {
    margin: 10px;
  }

  body #noticias a {
    margin: 10px;
  }

  body #noticias .noticia .imagemnoticia {
    width: 90%;
    height: 150px;
  }

  body #noticias .noticia .titulonoticia {
    width: 80%;
    font-size: 16px;
  }

  body #noticias .noticia .conteudonoticia {
    width: 80%;
    font-size: 14px;
  }

  body #noticias .noticia .segunda {
    display: none;
  }

  body .links {
    width: 100%;
    padding-top: 0;
    padding-bottom: 100px;
    position: relative;
    background-color: #fafafa;
  }

  body .links .idatopo {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  body .links .idatopo img {
    width: 50px;
  }

  body .links .container .row .row1 {
    margin-top: 25px;
  }

  body .links .container .row .row2 {
    text-align: left;
  }

  body .links .container .row .row2 hr {
    color: #ce5a2a;
    background-color: #ce5a2a;
    width: 15%;
    height: 1px;
  }

  body .links .container .row .row2 ul {
    list-style: none;
    color: #abb5bb;
    font-family: FiraSansLight;
    font-size: 10pt;
    text-align: left;
  }

  body .links .container .row .row2 ul li {
    margin-top: 7px;
  }

  body .links .container .row .row2 ul li a {
    color: #abb5bb;
  }

  body .links .container .row .row2 ul li a :hover {
    text-decoration: none;
  }

  body .links .container .row .row3 {
    margin-top: 25px;
  }

  body .links .container .row .row4 {
    text-align: left;
  }

  body .links .container .row .row4 hr {
    color: #1b2125;
    background-color: #1b2125;
    width: 15%;
    height: 1px;
  }

  body .links .container .row .row4 ul {
    list-style: none;
    color: #abb5bb;
    font-family: FiraSansLight;
    font-size: 10pt;
    text-align: left;
  }

  body .links .container .row .row4 ul li {
    margin-top: 7px;
  }

  body .links .container .row .row4 ul li a {
    color: #abb5bb;
  }

  body .links .container .row .row4 ul li a :hover {
    text-decoration: none;
  }

  body footer .container {
    padding-top: 0;
    padding: 0;
  }

  body footer .container .end .icone {
    padding-top: 0;
    padding-bottom: 0;
  }

  body footer .container .end .icone img {
    transform: scale(0.5);
  }

  body footer .container .end .endereco {
    padding-bottom: 0;
  }

  body footer .container .end .endereco ul li {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  body footer .container .redes {
    text-align: center;
  }

  body footer .container .redes ul li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
  }

  body footer .container .redes ul li img {
    width: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  body footer .container .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 8px;
  }

  body footer .container .copyright a {
    float: right;
    padding: 0;
    margin: 0;
  }
}

/*HUMAN2BE*/

.human2be {
  width: 100%;
  text-align: right;
  padding-top: 0;
}

#human2be {
  fill: #748bb3;
  max-width: 100%;
}

#human2be .h2be_h {
  transition: all ease 0.5s;
}

#human2be .h2be_dot {
  transition: all ease 0.5s;
}

#human2be .h2be_2 {
  transition: all ease 0.3s;
}

#human2be .h2be_b {
  transition: all ease 0.5s;
}

#human2be .h2be_circle {
  transition: all ease 0.7s;
}

#human2be:hover .h2be_2,
#human2be:hover .h2be_b,
#human2be:hover .h2be_circle {
  fill: #0ab49b;
}

#human2be:hover .h2be_h {
  fill: #748bb3;
}

#human2be:hover .h2be_dot {
  fill: #748bb3;
}

