@font-face {
  font-family: FiraSansSemiBold;
  src: url(/fonts/FiraSans-SemiBold.otf?67cf35fead4c694f9ff5b0aeace739bc);
}

@font-face {
  font-family: FiraSansLight;
  src: url(/fonts/FiraSans-Light.otf?a35b04a47658272244d456dd1cbfeb66);
}

@font-face {
  font-family: FiraSansRegular;
  src: url(/fonts/FiraSans-Regular.otf?e7988865e2e32f23de6205effcc3a95d);
}

@font-face {
  font-family: FiraSansItalic;
  src: url(/fonts/FiraSans-Italic.otf?9ae15b27cb0856cac6e422932211091f);
}

@font-face {
  font-family: FiraSansLightItalic;
  src: url(/fonts/FiraSans-LightItalic.otf?3e380267a8088e9c58dbcf224c9f3945);
}

html {
  scroll-behavior: smooth;
}

.centro {
  text-align: center;
}

.cem {
  width: 100%;
}

.invalido {
  color: red;
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body header {
  width: 100%;
  height: 100vh;
  background: #6f7983;
  background-image: url("/images/img POLARIS.png?3e6271fe5cc64747a47907930fa68541");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

body header .container {
  position: relative;
  z-index: 20;
}

body header .container .topHeader {
  height: 15vh;
  padding-top: 30px;
}

body header .container .topHeader .esquerda {
  width: 20%;
  float: left;
  text-align: left;
}

body header .container .topHeader .direita {
  width: 80%;
  float: left;
  text-align: right;
}

body header .container .topHeader .direita ul {
  text-decoration: none;
  list-style: none;
}

body header .container .topHeader .direita ul li {
  display: inline;
  margin-left: 50px;
}

body header .container .topHeader .direita ul li a {
  color: white;
  text-decoration: none;
  font-family: firaSansSemiBold;
}

body header .container .topHeader .direita ul :last-child {
  width: 200px;
  height: 50px;
}

body header .container .topHeader .direita ul :last-child :hover {
  color: black;
}

body header .container .topHeader .direita ul :last-child a {
  padding-top: 12px;
}

body header .container .centro {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body header .container .centro a {
  width: 165px;
  margin-top: 60px;
  font-family: firaSansSemiBold;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body header .container .seta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15vh;
  padding-top: 25px;
  font-size: 10pt;
  font-family: firaSansSemiBold;
  transition-duration: 3s 1s;
}

body header .container .seta a :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body header .slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

body header .slider ul {
  list-style: none;
}

body header .slider ul li .slide1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/images/img POLARIS.png?3e6271fe5cc64747a47907930fa68541");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body header .slider ul li .slide1 a {
  width: 165px;
  margin-top: 60px;
  font-family: firaSansSemiBold;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 21;
}

body header .anterior {
  position: absolute;
  top: 47%;
  left: 80px;
  transition: all 0.3s linear;
}

body header .anterior :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body header .proximo {
  position: absolute;
  top: 47%;
  right: 80px;
  transition: all 0.3s linear;
}

body header .proximo :hover {
  transition: all 0.3s linear;
  transform: scale(1.4);
}

body #construtora {
  width: 100%;
  height: 650px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body #construtora h2 {
  text-align: center;
  font-family: FiraSansLight;
  font-size: 20pt;
  color: #4c799a;
  margin: 0;
  padding: 0;
}

body #construtora h3 {
  text-align: center;
  font-family: FiraSansLightItalic;
  font-size: 30pt;
  color: #25355f;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

body #construtora p {
  color: #9a9a9a;
  text-align: left;
  font-family: FiraSansLight;
  font-size: 14pt;
  padding: 30px;
}

body #empreendimentos {
  width: 100%;
  height: 100vh;
  background: #fafafa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body #empreendimentos h3 {
  font-family: FiraSansLight;
  color: #25355f;
  font-size: 30pt;
}

body #empreendimentos h2 {
  font-family: FiraSansLight;
  color: #9a9a9a;
  font-size: 18pt;
}

body #parallax {
  width: 100%;
  height: 600px;
  background-image: url("/images/img UM.png?f2162f049c8b38a7d3f02a5cebe67122");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding-left: 350px;
}

body #parallax .filtro1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #25355f;
  opacity: 0.3;
  top: 0;
  left: 0;
}

body #parallax .filtro2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #25355f;
  opacity: 0.3;
  top: 0;
  left: 0;
}

body #parallax .filtro3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3f4043;
  opacity: 0.15;
  top: 0;
  left: 0;
}

body #parallax h1 {
  font-family: FiraSansLight;
  font-family: 36pt;
  position: relative;
  z-index: 50px;
}

body #parallax p {
  font-family: FiraSansRegular;
  font-family: 15t;
  position: relative;
  z-index: 50px;
}

body #parallax div a {
  position: relative;
  z-index: 50px;
}

body #parallax div .last {
  margin-left: 60px;
}

body #noticias {
  width: 100%;
  height: 100vh;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

body #noticias h1 {
  font-family: FiraSansLight;
  font-size: 24pt;
  color: #25355f;
}

body #noticias a {
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding-top: 13px;
}

body #noticias .container {
  text-align: center;
}

body #noticias .container .row .noticia .imagemnoticia {
  background-image: url(/images/1351515183.jpg?c191144b43d375ec3871fb264b0012fb);
  width: 90%;
  margin: 0 auto;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 25px;
}

body #noticias .container .row .noticia .titulonoticia {
  width: 80%;
  margin: 0 auto;
  font-family: FiraSansLight;
  font-size: 15pt;
  color: #585c5f;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

body #noticias .container .row .noticia .conteudonoticia {
  width: 80%;
  margin: 0 auto;
  font-family: FiraSansLight;
  font-size: 10pt;
  color: #959da4;
  text-align: justify;
  line-height: 26px;
}

body .links {
  height: 460px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  position: relative;
  background-color: #fafafa;
}

body .links .idatopo {
  position: absolute;
  bottom: 55px;
  right: 25px;
}

body .links .container .row .row1 {
  text-align: center;
  margin-top: 12px;
}

body .links .container .row .row2 {
  text-align: left;
}

body .links .container .row .row2 hr {
  color: #ce5a2a;
  background-color: #ce5a2a;
  width: 15%;
  height: 1px;
  margin-left: 30px;
}

body .links .container .row .row2 ul {
  list-style: none;
  color: #abb5bb;
  font-family: FiraSansLight;
  font-size: 10pt;
  text-align: left;
}

body .links .container .row .row2 ul li {
  margin-top: 7px;
}

body .links .container .row .row3 {
  text-align: center;
  margin-top: 12px;
}

body .links .container .row .row4 {
  text-align: left;
}

body .links .container .row .row4 hr {
  color: #1b2125;
  background-color: #1b2125;
  width: 15%;
  height: 1px;
  margin-left: 30px;
}

body .links .container .row .row4 ul {
  list-style: none;
  color: #abb5bb;
  font-family: FiraSansLight;
  font-size: 10pt;
  text-align: left;
}

body .links .container .row .row4 ul li {
  margin-top: 7px;
}

body footer {
  width: 100%;
  background: #25355f;
  color: white;
}

body footer .container {
  padding-top: 70px;
}

body footer .container .end {
  width: 100%;
}

body footer .container .end .icone {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 80px;
}

body footer .container .end .endereco {
  padding-bottom: 100px;
}

body footer .container .end .endereco ul {
  list-style: none;
  text-align: left;
}

body footer .container .end .endereco ul :nth-child(1) {
  list-style-image: url(/images/local.png?82ec47752c8bc7a16ce3cc4bc0b241c4);
}

body footer .container .end .endereco ul :nth-child(2) {
  list-style-image: url(/images/tel.png?f5efdcf3dcae5ed9d3534a2c051fd2d3);
}

body footer .container .end .endereco ul :nth-child(3) {
  list-style-image: url(/images/carta.png?b2629fd276ce801a364d33c6dc7633d6);
}

body footer .container .end .endereco ul li {
  margin-bottom: 14px;
  font-family: FiraSansLight;
  font-size: 10pt;
}

body footer .container .redes img {
  width: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

body footer .container .copyright {
  border-top: 1px solid #3f6f93;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: FiraSansRegular;
  color: #3a6589;
}

body footer .container .copyright span {
  font-family: FiraSansSemiBold;
}

